* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0d1117;
  font-family: sans-serif;
  color: #f0f6fc;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .login-container {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6e6fa;
    box-shadow: 0 0 5px 1px grey;
    display: flex;
    flex-direction: column;
    .contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 90%;
      color: #0d1117;
      .wtext {
        margin-top: 15%;
        width: 80%;
      }
      h1 {
        margin: 0;
        width: 75%;
      }
      input {
        width: 80%;
        outline: none;
        background-color: transparent;
        padding: 5px 0;
        font-size: 20px;
        border: none;
        margin-top: 25px;
        border-bottom: 2.5px solid #0d1117;
      }
      button {
        width: 70%;
        margin-top: 25px;
        font-size: 20px;
        padding: 10px 0;
        background-color: #0d1117;
        color: #f5f5f5;
        outline: none;
      }
      button:hover {
        cursor: pointer;
      }
    }
  }
  .header {
    text-align: center;
    background-color: #161b22;
    height: 62px;
    h1 {
      line-height: 62px;
    }
  }
  .nav-bar {
    color: #6e7681;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    border-bottom: 1.5px solid #202731;
    a {
      text-decoration: none;
      color: #6e7681;
    }
    h3 {
      padding: 15px;
      font-weight: 500;
      margin: 0 20px;
    }
    h3:hover {
      cursor: pointer;
      color: #abb6c5;
    }
    .selected {
      color: #f0f6fc;
      border-bottom: solid 2.5px orange;
    }
  }
  .add-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c9d1d9;
    .heading {
      font-size: 24px;
      width: 60%;
      border-bottom: 1.5px solid #202731;
      padding: 20px 20px;
    }
    .input-box {
      padding: 20px 0;
      width: 60%;
      display: flex;
      flex-direction: column;
      .required {
        color: red;
      }
      input {
        color: #f0f6fc;
        height: 32px;
        width: 50%;
        background-color: transparent;
        border: 1.5px solid #202731;
        outline: none;
        border-radius: 7.5px;
        margin-top: 7.5px;
        margin-bottom: 10px;
        margin-left: 2.5%;
        padding: 0 10px;
      }
      input:focus {
        box-shadow: 0 0 5px 1.5px #58a6ff;
      }
      input[type="file"] {
        font-size: 14px;
        line-height: 32px;
      }
      textarea {
        color: #f0f6fc;
        width: 60%;
        height: 125px;
        resize: none;
        background-color: transparent;
        border: 1.5px solid #202731;
        outline: none;
        border-radius: 7.5px;
        margin-top: 7.5px;
        margin-bottom: 10px;
        margin-left: 2.5%;
        padding: 10px 10px;
      }
      textarea:focus {
        box-shadow: 0 0 5px 1.5px #58a6ff;
      }
      button {
        margin-top: 7.5px;
        margin-bottom: 10px;
        margin-left: 2.5%;
        height: 32px;
        width: 20%;
        border: 1.5px solid #202731;
        outline: none;
        font-weight: 600;
        border-radius: 7.5px;
        background-color: #238636;
        color: white;
      }
      button:hover {
        cursor: pointer;
        background-color: #2db147;
      }
    }
  }
  .note {
    color: grey;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1.5px solid #202730;
  }
  .dish-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-evenly;
    h1 {
      color: #abb6c5;
      margin-top: 25px;
    }
    .dish-card {
      margin-top: 25px;
      height: 350px;
      width: 275px;
      color: #abb6c5;
      border-radius: 12.5px;
      border: 1.5px solid #202731;
      overflow: hidden;
      // box-shadow: 0 0 2.5px 5px #58a6ff;
      .img-container {
        width: 100%;
        height: 175px;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
        }
      }
      .img-container:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
      .name {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        font-size: 18px;
      }
      .description {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        height: 100px;
        font-size: 16px;
        overflow-y: scroll;
      }
      .description::-webkit-scrollbar {
        display: none;
      }
      .author {
        color: grey;
        width: 90%;
        margin: auto;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}
